.advantage {
  padding-top: 2px;
  padding-bottom: 8px;
}

.advantage__list {
  padding-top: 40px;

  @media (min-width: 768px) {
      display: grid;
      padding-top: 65px;

      counter-reset: subsection;

      gap: 80px 60px;
      grid-template-columns: repeat(2, 1fr);
    }
}

.advantage__title {
  line-height: 40px;
}

.advantage__item {
  position: relative;

  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;

  grid-column: 1/2;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    @media (min-width: 768px) {
      content: counter(subsection);
      position: absolute;
      top: 0;
      left: 110px;
      z-index: -1;

      margin: 0;

      font-size: 280px;
      line-height: 230px;
      font-family: $font-family-main;
      color: #f2f2f2;

      counter-increment: subsection;
      }
     }
}

 .advantage__item--beneficial::before {
   background-image: url("../img/svg/benefit-mobile.svg");
 }

 .advantage__item--powder::before {
   background-image: url("../img/svg/powder-mobile.svg");
 }

 .advantage__item--eating::before {
   background-image: url("../img/svg/eating-mobile.svg");
 }

 .advantage__item--changes::before {
   background-image: url("../img/svg/changes-mobile.svg");
 }
