.advantage {
  padding-top: 2px;
  padding-bottom: 8px;
}

.advantage__list {
  display: grid;
  padding-top: 40px;

  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;

    counter-reset: subsection;

    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantage__title {
  line-height: 40px;
}

.advantage__item {
  position: relative;

  min-height: 60px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-other;
  color: $color_dark-gray;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 115px 75px 50px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: $color_green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      content: counter(subsection);
      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;
      margin: 0;

      font-size: 280px;
      line-height: 230px;
      font-family: $font-family-main;
      color: $color_gray;

      counter-increment: subsection;
    }
  }
}

.advantage__item--beneficial::before {
  background-image: url("../img/svg/benefit-mobile.svg");
}

.advantage__item--powder::before {
  background-image: url("../img/svg/powder-mobile.svg");
}

.advantage__item--eating::before {
  background-image: url("../img/svg/eating-mobile.svg");
}

.advantage__item--changes::before {
  background-image: url("../img/svg/changes-mobile.svg");
}
