.advantage {
  margin-bottom: 43px;

  counter-reset: section;
}

.advantage__list {
  display: grid;
  align-items: center;

  column-gap: 20px;

  counter-reset: subsection;

  grid-template-columns: repeat(2, auto);
}

.advantage__title {
  line-height: 40px;
}

.advantage__item {
  position: relative;

  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;

  grid-column: 1/2;

  &:last-child {
    margin-bottom: 0;
  }
}

  .advantage__item--beneficial {
    /*
    counter-increment: section;
    content: "Section " counter(section) ". ";
    */
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: $color_green;
    background-image: url("../img/svg/benefit-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
  }

  .advantage__item--powder {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: $color_green;
    background-image: url("../img/svg/powder-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
  }

  .advantage__item--eating {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: $color_green;
    background-image: url("../img/svg/eating-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
  }

  .advantage__item--changes {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: $color_green;
    background-image: url("../img/svg/changes-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
  }
