.catalog__item {
  width: 100%;
  margin-left: -20px;
  padding: 21px 17px 24px 20px;

  border-top: 1px solid #d9d9d9;
}

.catalog__item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14px;
}

.catalog__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__item-more {
  position: relative;

  width: 100%;
  margin-bottom: 29px;
  margin-left: -20px;
  padding: 79px 20px 24px;

  text-align: center;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 0;
  left: 0;

  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;

  background-image: url("../img/svg/catalog-item-more-before-mobile.svg");
  opacity: 0.2;
  }
}

.catalog__title {
  margin: 0;
  margin: 0;
  margin-bottom: 12px;
  padding-right: 45px;
  padding-left: 2px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: $color_dark-gray-title;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__descr {
  flex-grow: 1;
  width: 100%;
  width: 145px;
  max-width: 230px;
  margin: 0 auto 0 13px;

  font-weight: inherit;
  font-size: 12px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;
}

/*Не могу установить боковые паддинги кнопки из макета - пропадают картинки*/
/*Модификатор для серой кнопки нельзя в разметку добавить?*/
.catalog__btn {
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  background-color: color_green;
}
