.other {

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 3px;
    margin-top: 12px;

    background-color: $color_green;
  }
}

.product__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 33px;
  margin-left: -21px;
  padding-right: 23px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: inherit;
  color: $color_dark-gray-title;

  background-color: $color-light;
}

.other__item {
  margin: 0;
  padding: 13px 0 17px;

  list-style: none;

  border-top: 1px solid #d9d9d9;

  &:last-child {
    margin-bottom: 39px;

    border-bottom: 1px solid #d9d9d9;
  }
}

.other__item-title {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 1px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;
  color: $color_dark-gray-title;
  text-transform: uppercase;
}

.other__flex-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

.other__item-weight {
  margin: 0;

  font-weight: inherit;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;
}

.other__item-value {
  margin: 0;
  margin-right: -2px;

  font-weight: inherit;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;
}

.other__item-button {
  padding: 10px;
  padding-left: 12px;

  font-size: 16px;
  line-height: 20px;
}
