//Все описания похожие. Можно блоком сделать?
.description-page {
  margin: 0;
  margin-bottom: 19px;
  padding-right: 20px;

  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  color: $color_dark-gray-title;
  text-transform: uppercase;
}
