.example {
  padding: 17px 0 36px;

  background-color: $color_gray;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 60px;
  font-family: inherit;
  color: $color_dark-gray-title;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;
}
