.footer {
  padding-bottom: 20px;

  background-color: $color_gray;
}

.footer__contact {
  display: grid;
  margin-top: 11px;
  padding-bottom: 9px;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    padding: 30px 39px 40px;

    gap: 10px 270px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 98px;
    left: 0;

    width: 565px;
    margin-top: 0;
    padding: 40px 80px;

    background-color: #ffffff;

    gap: 10px 96px;
  }
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer__address {
  line-height: 20px;
  font-family: $font-family-other;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.footer__address span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 20px;
  }
}

.footer__map-iframe {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer__map-img {
  display: none;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer__map-iframe iframe,
.footer__map-img img {
  display: block;
  width: 100%;
  height: 100%;

  border: none;
}

.no-js .footer__map-iframe {
  display: none;
}

.no-js .footer__map-img {
  display: block;
}

.footer__container {
  @media (min-width: $tablet-width) {
    padding: 58px 0 32px;
  }
}

.footer__container .container {
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 140px 1fr;
  }
}

.footer__logo-container {
  padding: 38px 0 28px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;

    text-align: left;
  }
}

.footer__logo {
  display: inline-block;
  width: 128px;
  height: 24px;

  vertical-align: baseline;

  cursor: pointer;

  transition: 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social-container {
  padding: 21px 0;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }
}

.footer__social {
  display: grid;
  width: 132px;
  margin: 0 auto;

  gap: 24px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $tablet-width) {
    width: auto;

    gap: 13px;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  vertical-align: middle;
  color: $color_dark-gray;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color_green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social-link svg {
  fill: currentColor;
}

.footer__logo-html-container {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__logo-html {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  font-family: $font-family-other;
  color: $color_dark-gray;
  text-decoration: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo-html svg {
  fill: $color_dark-gray;
}

.footer__logo-html:hover svg,
.footer__logo-html:focus svg {
  fill: $color_green;
}

.footer__logo-html span {
  display: inline-block;
  margin-right: 22px;
}
