.header {
  padding-top: 10px;

  border-bottom: 1px solid #d9d9d9;

  &--index {
    border: none;
  }
}

.header__logo {
  display:block;
  align-items: center;
  width: 191px;
  height: 38px;
  margin: 0;
  margin-right: auto;

  cursor: pointer;

  transition: 0.3s ease;

    &[href]:hover,
    &[href]:focus {
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
    }
}
