.live__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.live__result-item {
  position: relative;
  z-index: 1;

  width: 124px;
  margin: 0;
  margin-right: 30px;
  padding: 13px 18px 15px;

  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
  font-family: inherit;
  text-align: center;
  color: $color_dark-gray-title;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.live__result-description {
  position: absolute;
  right: 0;
  bottom: 8px;
  left: 0;

  display: inline-block;
  width: calc(100% - 38px);
  margin: 0 auto;
  padding: 0 10px;

  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  color: $color_dark-gray;

  background-color: $color_gray;
  transform: translateY(100%);
}

.live__result-price {
  margin: 0;

  font-weight: inherit;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: $color_dark-gray-title;
  text-transform: uppercase;
}
