.live {
  padding: 17px 0 36px;

  background-color: $color_gray;
}

.live__description {
  padding-bottom: 19px;
}

.live__title {
  margin-bottom: 40px;
}

.live p {
  font-family: $font-family-other;
  color: #444444;
}
