.live {
  padding: 27px 0 40px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 47px 0 101px;

    background: rgb(234, 234, 234);
    background: linear-gradient(0deg, #eaeaea 42.5%, #ffffff 42.9%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 74px;

    background: #f2f2f2;
    background: linear-gradient(0deg, #f2f2f2 78%, #ffffff 78%);
  }
}

.live__container {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 10px 220px;
    grid-template-columns: 436px 1fr;
  }
}

.live__description {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.live__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 143px;
  }
}

.live p {
  font-family: $font-family-other;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.live__result {
  display: grid;
  padding-top: 6px;

  gap: 27px 32px;
  grid-template-columns: repeat(2, 124px);

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-top: 37px;

    gap: 33px 42px;
    grid-template-columns: 162px 162px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;

    gap: 20px 42px;
    grid-template-columns: repeat(2, 162px);
  }
}

.live__result-item {
  position: relative;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.live__result-price {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-column: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;

    grid-column: 1/-1;
  }
}

.live__result-value {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;

    font-size: 30px;
    line-height: 37px;
  }
}

.live__result-description {
  position: absolute;
  bottom: -16px;
  left: 50%;

  padding: 0 17px;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-family-other;
  color: #444444;
  text-transform: lowercase;

  background-color: #eaeaea;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: -7px;

    width: max-content;
    padding: 0 7px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    bottom: -4px;

    background-color: #f2f2f2;
  }
}

.live__result-price p {
  margin: 8px 0 0;

  font-size: 14px;
  line-height: 20px;
  font-family: $font-family-main;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 230px;
    margin-top: 0;
    margin-left: auto;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;

    text-align: left;
  }
}

.live__result-price span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 60px;
  }
}

// Slider
.live__slider {
  position: relative;
}

.live__slider-container {
  position: relative;

  width: 280px;
  min-height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }
}

.live__slider-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
  overflow: hidden;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.live__slider img {
  display: block;
  width: 100%;
  height: 100%;
}

.live__slider-item--before {
  z-index: 20;
}

.live__slider-item--after {
  right: 0;
  left: auto;
  z-index: 10;
}

.live__slider-item--before img {
  object-position: left;
}

.live__slider-item--after img {
  object-position: right;
}

.live__change {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 30;

  width: 4px;

  background-color: #666666;
  border-radius: 2px;
  transform: translateX(-50%);
}

.live__change-pin {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: #666666;

  background: #ffffff;
  border: 2px solid #666666;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.live__change-pin svg {
  fill: currentColor;
}

.live__change-label:hover .live__change-pin {
  color: $color_green;

  border-color: $color_green;
}
