.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 10;

  display: inline-block;
  width: 24px;
  height: 18px;

  vertical-align: middle;

  background-color: transparent;
  background-image: url("../img/svg/toggle-on-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.main-nav__list {
  position: absolute;
  top: 65px;
  z-index: 10;

  display: none;
  width: 100%;

  background-color: #ffffff;
}

.main-nav--opened .main-nav__list {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/svg/toggle-off-mobile.svg");
}

.main-nav--no-js .main-nav__list {
  position: static;

  display: block;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}
