.more {
  padding: 22px 0 35px;
}

.more__list {
  display: flex;
  flex-direction: column;
  margin: 31px 0;
  margin-bottom: 35px;
}

.more__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  border-bottom: 1px solid #cdcdcd;
}

.more__title {
  margin: 0 0 10px;
  padding-top: 13px;

  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.more__info-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.more__weight {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family-other;
  color: #444444;
}

.more__price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family-other;
  color: #444444;
}

.more__btn {
  width: 100%;
  min-height: 40px;
}

.more__bonus {
  position: relative;

  min-width: 280px;
  height: 290px;
  margin: 0 auto;

  background-image: url("../img/svg/gift-mobile.svg"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/catalog-background-mobile.png");
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;

  @media (min-width: $tablet-width) {
    padding: 56px 20px 52px 60%;

    text-align: left;

    background-image: url("../img/svg/gift-mobile.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/catalog-background-tablet.png");
    background-position: center left 80px, top, center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 172px 20px 26px;

    text-align: center;

    background-position: top 59px center, top, top;
  }
}

.more__bonus p {
  margin: 0;
  padding-top: 188px;
  padding-bottom: 43px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-other;
  text-align: center;
  color: $color-light;
}
