.navigation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.navigation__btn {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 10;

  display: inline-block;
  width: 24px;
  height: 18px;

  vertical-align: middle;

  background-color: transparent;
  background-image: url("../img/svg/bth-on-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.navigation__logo {
  display: block;
  align-items: center;
  width: 191px;
  height: 38px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 20px;
  cursor: pointer;

  transition: 0.3s ease;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.navigation__list {
  position: absolute;
  top: 65px;
  z-index: 10;

  display: none;
  width: 100%;

  background-color: #ffffff;
}

.navigation--no-js .navigation__list {
  position: static;

  display: block;
}

/*
.navigation .navigation__btn {
  display: none;
}*/

.navigation__item {
  width: calc(100% + 40px);
  margin: 0;
  margin-left: -20px;

  text-align: center;

  background-color: $color-light;
  border-top: 1px solid #d9d9d9;

  &:last-child {
    border-bottom: 1px solid #d9d9d9;
  }
}

.navigation__link{
  position: relative;

  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 22px 22px 23px 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: inherit;
  vertical-align: middle;
  color: $color_dark-gray-title;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.3s ease;

  &[href]:hover,
  &[href]:focus {
    color: rgba($color_dark-gray-title, 0.6);
  }

  &[href]:active {
    color: rgba($color_dark-gray-title, 0.3);
  }
}
