.nutrition {
  margin: 0;
  margin-bottom: 22px;
}

.nutrition-background::before { /*В эталонной разметке нет. Убирать?*/
  content: "";
  position: absolute;
  z-index: -1;

  width: 320px;
  height: 302px;

  background-image:
    linear-gradient(rgba($color_green, 0.85), rgba($color_green, 0.85)),
    url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
}

.nutrition-background { /*В эталонной разметке нет. Убирать?*/
  z-index: 2;

  padding: 28px 20px 152px;

  text-align: center;

  background-color: #65a93c;
  background-image:

    url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.nutrition__title{
  padding-top: 27px;
}

.nutrition__subtitle{ /*В эталонной разметке нет. Убирать? У <p> нигде нет классов в эталоне. Эти параметры текста на боди нужно повесить?*/
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
}

.nutrition__promo {
  display: block;
  width: 280px;
  height: 270px;
  margin: -138px auto 2px;
}

.nutrition__btn {
  z-index: 3;

  display: block;
  width: auto;
  padding: 7px 44px;

  background-color:rgba($color_green, 0.85);
}
