.nutrition {
  position: relative;

  padding-bottom: 43px;

  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
  }
}

.nutrition__title {
  padding-top: 29px;
  padding-bottom: 163px;

  text-align: center;

  background-color: $color_green;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/index-background-mobile.jpg");
  background-repeat: repeat, no-repeat;
  background-position: top;
  background-size: auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/index-background-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    padding: 58px 20px 10px 120px;

    text-align: left;
    color: #000000;

    background: none;
  }

  @media (min-width: $desktop-width) {
    width: 545px;
    padding: 95px 20px 10px 81px;
  }
}

.nutrition__title h1 {
  margin-bottom: 24px;

  line-height: 36px;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;

    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 520px;
  }
}

.nutrition__subtitle {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;

    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
  }
}

.nutrition__promo {
  width: 280px;
  height: 270px;
  margin: -135px auto 0;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin: -95px auto 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -3px;
    left: 544px;
    z-index: 1;

    width: 552px;
    height: 499px;
    margin: 11px 0 0 -97px;
  }
}

.nutrition__promo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nutrition__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;

  width: 100%;
  max-width: 280px;
  padding-top: 12px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    left: auto;

    width: 244px;
    margin-left: 0;
    padding: 17px 10px;

    font-size: 20px;
    line-height: 20px;

    transform: none;

    &:hover {
      background-color: $color_dark-green;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: $color_dark-green;
    }
  }
}
