.program {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 165px;
    padding: 96px 110px 71px 110px;
  }
}

.program__list {
  margin-top: 20px;
}

.program__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 31px 20px 22px;

  background-color: $color_gray;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__title {
  position: relative;

  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program__descr {
  font-family: $font-family-other;
  color: #444444;
}

.program__item--slim {
  background-image: url("../img/svg/cat-egyptian-mobile.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-position: 81px 62px;
    background-size: 50px 53px;
  }

  @media (min-width: $desktop-width) {
    background-position: 41px 67px;
    background-size: 50px 53px;
  }
}

.program__item--pro {
  background-image: url("../img/svg/cat-puma-mobile.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: 91px 28px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: 47px 33px;
    background-size: 100px 100px;
  }
}

.program__link {
  position: relative;

  margin-top: auto;
  padding-right: 48px;

  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;

    width: 32px;
    height: 10px;

    background-image: url("../img/svg/right-arrow-mobile.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 10px;
    transform: translateY(-50%);
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/svg/right-arrow-long-mobile.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 10px;
  }

  &:active::after {
    opacity: 0.3;
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
