.title-page {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title-page-other {
  position: relative;

  margin: 0 -20px;
  overflow: hidden;

  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  font-family: $font-family-main;

  @media (min-width: $tablet-width) {
    margin: 0 -30px;
    padding-left: 30px;

    font-size: 36px;
    line-height: 46px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -110px;
    padding-left: 70px;
  }
}

.title-page-other span {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
  }
}

.title-page-other--lines {
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 16px;

    display: inline-block;
    width: 100%;
    height: 2px;

    vertical-align: middle;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 25px;
    }
  }

  &::before {
    display: none;
    margin-left: -100%;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  &::after {
    margin-right: -100%;
  }
}
