*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  display: grid;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}
