$color-light: #ffffff;
$color_dark-gray-title: #111111;
$color_dark-green-text: #8fc46e;
$color_green: #68b738;
$color_dark-green: #5eaa2f;
$color_gray: #f2f2f2;
$color_dark-gray: #444444;
$color_dark-gray-label: #222222;
$slider-dark-grey: #666666;
$font-family-main: "Oswald", "Arial", sans-serif;
$font-family-other: "Arial", sans-serif;
$vp-desktop: #8b00ff; /*Добавила, чтобы не ругался*/
$desktop-width: 1440px;
$tablet-width: 768px;
